.icons{
    margin-top: 40px;
    justify-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
    align-items: center;
    /* background-color: aqua; */
}
.icon{
    
    width: 45px;
    align-self: center;
    height:45px;
}
.icon-content{
    height: 45px;
}
#portraitCanvas{
    border-style: solid;
}
